<div [@routerTransition]>
    <!-- <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2> -->
    
    <div class="row">
        <!-- <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'primary'" [icon]="'fa-comments'" [count]="26" [label]="'TILE 1'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="12" [label]="'TILE 2'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-lock'" [count]="124" [label]="'TILE 3'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [icon]="'fa-user'" [count]="13" [label]="'TILE 4'"></app-stat>
        </div> -->
        <div class="col-md-12">
            <h3>Dashboard works!</h3>
        </div>
    </div>
        
    
    
</div>
